<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <span class="title navbar-brand1">{{ title }}</span>
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" id="product-item">
          <a class="nav-link active pe-5 py-0 mt-2" aria-current="page" href="#"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a class="btn cartBtn py-0" href="#cart" role="button"
            ><i class="bi bi-cart3 cartLogo"></i
          ><sup><span class="badge badge-secondary">{{this.cart.length?this.cart.length:''}}</span></sup></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="content">
  <div class="search-container">
    <div class="input-group">
      <input
        id="search-bar"
        [(ngModel)] = "searchTerm"
        type="text"
        class="form-control shadow-none"
        placeholder="Search for Products..."
        aria-label="Search Input Field"
        aria-describedby="search-btn"
      />
      <button
      class="btn btn-outline-secondary shadow-none"
      type="button"
      id="filter-btn"
      (click)="openFilters()"
    >
      <i class="bi bi-funnel"></i>
    </button>
      <button
        class="btn btn-outline-secondary shadow-none"
        type="button"
        id="search-btn"
        (click)="searchProduct()"
      >
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
  <div class="section">
    <div class="filterCard">
      <div class="card-body">
        <form [formGroup]="myForm">
          <h5 class="card-title">Color</h5>
          <br />
          <div *ngFor="let color of colors">
            <div class="form-check">
              <input
                (change)="onChangeColor(color, $event.target)"
                class="form-check-input shadow-none"
                type="checkbox"
                [value]="color"
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                {{ color }}
              </label>
            </div>
          </div>
          <br />
          <h5 class="card-title">Gender</h5>
          <br />
          <div *ngFor="let gender of genders">
            <div class="form-check">
              <input
                (change)="onChangeGender(gender, $event.target)"
                class="form-check-input shadow-none"
                type="checkbox"
                [value]="gender"
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                {{ gender }}
              </label>
            </div>
          </div>
          <br />
          <h5 class="card-title">Price</h5>
          <br />
          <div class="price-range">
            <input
              [(ngModel)]="minVal"
              [ngModelOptions]="{ standalone: true }"
              (change)="onChangePrice()"
              class="form-control shadow-none"
              type="number"
              placeholder="Min"
              min="0"
              aria-label="minimum input"
            />
            <input
              [(ngModel)]="maxVal"
              [ngModelOptions]="{ standalone: true }"
              (change)="onChangePrice()"
              class="form-control shadow-none"
              type="number"
              placeholder="Max"
              aria-label="Maximum input"
              min="0"
            />
          </div>

          <br />
          <h5 class="card-title">Type</h5>
          <br />
          <div *ngFor="let type of types">
            <div class="form-check">
              <input
                (change)="onChangeType(type, $event.target)"
                class="form-check-input shadow-none"
                type="checkbox"
                [value]="type"
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                {{ type }}
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="catalogue">
      <div *ngFor="let product of filteredProducts">
        <app-product [product]="product" (productIdEmitter) = "addToCart($event)"></app-product>
      </div>
    </div>
  </div>
</div>
