<div class="card">
  <img
    [src]="this.product.imageURL"
    id = "product-img"
    [alt]="this.product.name"
    [height]="imgHeight"
  />
  <div class="card-body">
    <h5 class="card-title">{{ this.product.name }}</h5>
    <p class="card-text">{{this.product.currency}} {{this.product.price}}</p>
    <button   [ngClass]="inStock? 'btn addToCartBtn shadow-none': 'btn outOfStockBtn shadow-none'" (click) = "checkQuantity(this.product)">{{inStock?'Add to Cart':'Out of Stock'}}</button>
  </div>
</div>
